# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
next-env.d.ts

# serwist / PWA
public/sw.js
public/sw.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map

# production
*.tsbuildinfo

# env files
.env
.env*.local

# vercel
.vercel

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# PocketBase (local dev)
pb_data/
pb_migrations/
